
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iMalFect's faucet donators</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

    	<link rel="stylesheet" href="../css/bootstrap.rtl.min.css">
	<link rel="stylesheet" href="../css/animate.min.css">
	<link rel="stylesheet" href="../css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="../css/bootstrap-grid.rtl.min.css">
	<link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="../css/bootstrap-reboot.rtl.min.css">
	<link rel="stylesheet" href="../css/bootstrap-utilities.min.css">
	<link rel="stylesheet" href="../css/bootstrap-utilities.rtl.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
<link rel="manifest" href="../img/site.webmanifest">
</head>


<body onload=getBal()>

	
<nav class="navbar navbar-expand-lg navbar-light navbar-custom" style="z-index:10;position:relative;">
  <a class="navbar-brand" href="index.html" style="margin-top: -12px">iMalFect's faucet</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="nav navbar-nav">
		<li><a class="nav-link" href="/pool/Public%20Pool">Public Pool</a></li>

		<li><a class="nav-link" href="/donators.html">Donors</a></li>
		<li><a class="nav-link" href="/donate.html">Become a Donor</a></li>

	  </ul>
	  
	  
	  
	  
	 
	  <ul class="nav navbar-nav ml-auto" style="padding:15px 0 0 0;margin:0">
		  <li style="margin:0"><p style="margin:0;line-height:34px;"><span style="margin-top:5px;padding-right:5px">Dark Mode</span> <label class="form-inline switch">
  <input type="checkbox" class="btn-toggle" id="checkbox">
  <span class="slider round"></span>
		  </label></p></li></ul>
  </div>
</nav>
	
<div class="body-wrapper">	
	
	
	
	
   <div class="wrapper-wrapper">
<div class="wrapper">
  <div class="confetti-149"></div>
  <div class="confetti-148"></div>
  <div class="confetti-147"></div>
  <div class="confetti-146"></div>
  <div class="confetti-145"></div>
  <div class="confetti-144"></div>
  <div class="confetti-143"></div>
  <div class="confetti-142"></div>
  <div class="confetti-141"></div>
  <div class="confetti-140"></div>
  <div class="confetti-139"></div>
  <div class="confetti-138"></div>
  <div class="confetti-137"></div>
  <div class="confetti-136"></div>
  <div class="confetti-135"></div>
  <div class="confetti-134"></div>
  <div class="confetti-133"></div>
  <div class="confetti-132"></div>
  <div class="confetti-131"></div>
  <div class="confetti-130"></div>
  <div class="confetti-129"></div>
  <div class="confetti-128"></div>
  <div class="confetti-127"></div>
  <div class="confetti-126"></div>
  <div class="confetti-125"></div>
  <div class="confetti-124"></div>
  <div class="confetti-123"></div>
  <div class="confetti-122"></div>
  <div class="confetti-121"></div>
  <div class="confetti-120"></div>
  <div class="confetti-119"></div>
  <div class="confetti-118"></div>
  <div class="confetti-117"></div>
  <div class="confetti-116"></div>
  <div class="confetti-115"></div>
  <div class="confetti-114"></div>
  <div class="confetti-113"></div>
  <div class="confetti-112"></div>
  <div class="confetti-111"></div>
  <div class="confetti-110"></div>
  <div class="confetti-109"></div>
  <div class="confetti-108"></div>
  <div class="confetti-107"></div>
  <div class="confetti-106"></div>
  <div class="confetti-105"></div>
  <div class="confetti-104"></div>
  <div class="confetti-103"></div>
  <div class="confetti-102"></div>
  <div class="confetti-101"></div>
  <div class="confetti-100"></div>
  <div class="confetti-99"></div>
  <div class="confetti-98"></div>
  <div class="confetti-97"></div>
  <div class="confetti-96"></div>
  <div class="confetti-95"></div>
  <div class="confetti-94"></div>
  <div class="confetti-93"></div>
  <div class="confetti-92"></div>
  <div class="confetti-91"></div>
  <div class="confetti-90"></div>
  <div class="confetti-89"></div>
  <div class="confetti-88"></div>
  <div class="confetti-87"></div>
  <div class="confetti-86"></div>
  <div class="confetti-85"></div>
  <div class="confetti-84"></div>
  <div class="confetti-83"></div>
  <div class="confetti-82"></div>
  <div class="confetti-81"></div>
  <div class="confetti-80"></div>
  <div class="confetti-79"></div>
  <div class="confetti-78"></div>
  <div class="confetti-77"></div>
  <div class="confetti-76"></div>
  <div class="confetti-75"></div>
  <div class="confetti-74"></div>
  <div class="confetti-73"></div>
  <div class="confetti-72"></div>
  <div class="confetti-71"></div>
  <div class="confetti-70"></div>
  <div class="confetti-69"></div>
  <div class="confetti-68"></div>
  <div class="confetti-67"></div>
  <div class="confetti-66"></div>
  <div class="confetti-65"></div>
  <div class="confetti-64"></div>
  <div class="confetti-63"></div>
  <div class="confetti-62"></div>
  <div class="confetti-61"></div>
  <div class="confetti-60"></div>
  <div class="confetti-59"></div>
  <div class="confetti-58"></div>
  <div class="confetti-57"></div>
  <div class="confetti-56"></div>
  <div class="confetti-55"></div>
  <div class="confetti-54"></div>
  <div class="confetti-53"></div>
  <div class="confetti-52"></div>
  <div class="confetti-51"></div>
  <div class="confetti-50"></div>
  <div class="confetti-49"></div>
  <div class="confetti-48"></div>
  <div class="confetti-47"></div>
  <div class="confetti-46"></div>
  <div class="confetti-45"></div>
  <div class="confetti-44"></div>
  <div class="confetti-43"></div>
  <div class="confetti-42"></div>
  <div class="confetti-41"></div>
  <div class="confetti-40"></div>
  <div class="confetti-39"></div>
  <div class="confetti-38"></div>
  <div class="confetti-37"></div>
  <div class="confetti-36"></div>
  <div class="confetti-35"></div>
  <div class="confetti-34"></div>
  <div class="confetti-33"></div>
  <div class="confetti-32"></div>
  <div class="confetti-31"></div>
  <div class="confetti-30"></div>
  <div class="confetti-29"></div>
  <div class="confetti-28"></div>
  <div class="confetti-27"></div>
  <div class="confetti-26"></div>
  <div class="confetti-25"></div>
  <div class="confetti-24"></div>
  <div class="confetti-23"></div>
  <div class="confetti-22"></div>
  <div class="confetti-21"></div>
  <div class="confetti-20"></div>
  <div class="confetti-19"></div>
  <div class="confetti-18"></div>
  <div class="confetti-17"></div>
  <div class="confetti-16"></div>
  <div class="confetti-15"></div>
  <div class="confetti-14"></div>
  <div class="confetti-13"></div>
  <div class="confetti-12"></div>
  <div class="confetti-11"></div>
  <div class="confetti-10"></div>
  <div class="confetti-9"></div>
  <div class="confetti-8"></div>
  <div class="confetti-7"></div>
  <div class="confetti-6"></div>
  <div class="confetti-5"></div>
  <div class="confetti-4"></div>
  <div class="confetti-3"></div>
  <div class="confetti-2"></div>
  <div class="confetti-1"></div>
  <div class="confetti-0"></div>
	   </div> </div>
    
<div class="col-md-12 animate__animated animate__fadeIn">
	<h1>Donors</h1>
		<ol>
			<div class="row">
			<div class="col-md-4">
        <li>
          <h6>690 BANANO</h6>
          <p>👑StellaKnocker<</p>
        </li>
      <li>
          <h6>421 BANANO</h6>
          <p>Hippyman</p>
          <p>👑Hippyman</p>
        </li>
			<li>
				<h6>420 BANANO</h6>
				<p>SoggyApplePie</p>
			</li>
			<li>
				<h6>74.27 BANANO</h6>
				<p>Saidi</p>
			</li>
			<li>
				<h6>69.420 BANANO</h6>
				<p>First Donator!) Darth Lukius - Mr Ban 2021</p>
			</li>
			<li>
				<h6>66.6 BANANO</h6>
				<p>Supreme Chancellor Palpatine</p>
			</li>
			</div>
			<div class="col-md-4">
			<li>
				<h6>50 BANANO</h6>
				<p>kript</p>
			</li>
			<li>
				<h6>26.9 BANANO</h6>
				<p>MaccasAU</p>
			</li>
			<li>
				<h6>25 BANANO</h6>
				<p>LiberatedHat</p>
			</li>
			<li>
				<h6>19.19 BANANO</h6>
				<p>shuttlecock</p>
			</li>
			<li>
				<h6>19 BANANO</h6>
				<p>Warmachine1081</p>
			</li>
			</div>
			<div class="col-md-4">
			<li>
				<h6>16 BANANO</h6>
				<p>Airtune</p>
			</li>
			<li>
				<h6>4.20 BANANO</h6>
				<p>UncleBananaMan</p>
			</li>
      <li>
				<h6>1 BANANO</h6>
				<p>JestemWysoki</p>
			</li>
      <li>
				<h6>0 BANANO (INSANE)</h6>
				<p>Duck#7335</p>
			</li>
			
				

			</div>
			</div>
		</ol>
	
	<h3>Contributors</h3>
		<ul>
			<li>
				<a href="https://reddit.com/u/iMalFect" target="_blank">iMalFect</a> - founder, creator, core functionality
			</li>
			<li>
        <a href="https://reddit.com/u/tylerjordan1994" target="_blank">TylerJordan1994</a> - web code/design
			</li>
			<li>
				<a href="https://reddit.com/u/NorthLake" target="_blank">NorthLake</a> - solved return issue in functions
			</li>
			<li>
				<a href="https://reddit.com/u/sqid" target="_blank">sqid</a> - unbricked VPS, general bug fixes
			</li>
		</ul>


	
<div class="box">
  <div class="head"></div>
  <div class="head-copy">
    <div class="face-left"></div>
    <div class="face-right"></div>
    <div class="face">
      <div class="eyes">
        <div class="pupil"></div>
      </div>
      <div class="eyes left">
        <div class="pupil"></div>
      </div>
      <div class="blush"></div>
      <div class="blush-right"></div>
      <div class="nose">
        <div class="line"></div>
      </div>
      <div class="mouth"></div>
      <div class="mouth2"></div>
    </div>
    <div class="face-left"></div>
    <div class="face-right"></div>
    <div class="ears-left">
      <div class="inner-ear"></div>
    </div>
    <div class="ears-right">
      <div class="inner-ear right"></div>
    </div>
  </div>
</div>
	</div></div>
	</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../js/bananocoin-bananojs.js"></script>
	<script src="../js/bootstrap.bundle.min.js"></script>
	<script src="../js/bootstrap.esm.min.js"></script>
	
	<script src="../js/utils.js"></script>

</html>
