
<!DOCTYPE html>

<html lang="en" id="home">
<head><meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>iMalFect's Banano Faucet</title>
    <script src="../js/bananocoin-bananojs.js"></script>
    <script src="https://hcaptcha.com/1/api.js?hl=en" async defer></script>
    
    	<link rel="stylesheet" href="../css/bootstrap.rtl.min.css">
	<link rel="stylesheet" href="../css/animate.min.css">
	<link rel="stylesheet" href="../css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="../css/bootstrap-grid.rtl.min.css">
	<link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="../css/bootstrap-reboot.rtl.min.css">
	<link rel="stylesheet" href="../css/bootstrap-utilities.min.css">
	<link rel="stylesheet" href="../css/bootstrap-utilities.rtl.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/style.css">
	
<script src="../js/bananocoin-bananojs.js"></script>
<script type = "module">
</script>
</head>



<body onload=getBal()>

	
	<nav class="navbar navbar-expand-lg navbar-light navbar-custom" style="z-index:5;position:relative;height: 10%;">
  <a class="navbar-brand" href="./index.html" style="margin-top: -12px">iMalFect's faucet</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="nav navbar-nav">
		<li><a class="nav-link" href="/pool/Public%20Pool">Public Pool</a></li>

		<li><a class="nav-link" href="/donators.html">Donors</a></li>
		<li><a class="nav-link" href="/donate.html">Become a Donor</a></li>

	  </ul>
	  
	  
	  
	  
	  
	  <ul class="nav navbar-nav ml-auto" style="padding:15px 0 0 0;margin:0">
		  <li style="margin:0"><p style="margin:0;line-height:34px;"><span style="margin-top:5px;padding-right:5px">Dark Mode</span> <label class="form-inline switch">
  <input type="checkbox" class="btn-toggle" id="checkbox">
  <span class="slider round"></span>
		  </label></p></li></ul>
  </div>
</nav>
	<div  id="particles-js"></div>
<div class="body-wrapper animate__animated animate__fadeIn">	
	
	
    
    
<div class="col-md-12">
    <h1>iMalFect's Banano Faucet</h1>
	
	</div>
	
	
<div class="col-md-12">
    <p>Enter your BANANO address and solve monkey-only captcha to receive some BANANO.</p>

    
    
    <input type="text" name="search" id="address" placeholder="ban_">

    <div class="h-captcha" data-sitekey="53b417af-da16-43cf-bd11-33226dfc81a2" id="hcaptchawidget"></div>
    
    <button class="button button1" onclick=claim() id="claimbtn" style="margin-top:10px;">
		<div class="subtextblack">Get Banano</div></button>
    <div class="subtext" id="sponsor" style="visibility: hidden;">Claim Sponsored by: nil Sponsor </div>
<br><br><br><br>
	</div>
	<br><br>
	<div class="col-md-12">
		<h6>Updates:</h6>
			<ul>
				<li>
          Enjoy the new design! Made by: <a href="https://reddit.com/u/tylerjordan1994" target="_blank">TylerJordan1994</a> <br>
					We upgraded to 4 times faster hardware, enjoy! Read the post on  <a href="https://www.reddit.com/r/banano/comments/oncrf8/new_faucet_update_make_your_own_minifaucet/" target="_blank">Reddit</a>.
          
				</li>
				
		</ul>
	</div>

	
<div class="box">
  <div class="head"></div>
  <div class="head-copy">
    <div class="face-left"></div>
    <div class="face-right"></div>
    <div class="face">
      <div class="eyes">
        <div class="pupil"></div>
      </div>
      <div class="eyes left">
        <div class="pupil"></div>
      </div>
      <div class="blush"></div>
      <div class="blush-right"></div>
      <div class="nose">
        <div class="line"></div>
      </div>
      <div class="mouth"></div>
      <div class="mouth2"></div>
    </div>
    <div class="face-left"></div>
    <div class="face-right"></div>
    <div class="ears-left">
      <div class="inner-ear"></div>
    </div>
    <div class="ears-right">
      <div class="inner-ear right"></div>
    </div>
  </div>
</div>
</div>

	
	
	</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script src="../js/bootstrap.bundle.min.js"></script>
	<script src="../js/bootstrap.esm.min.js"></script>
<script src="../js/particles.js"></script>
	<script src="../js/app.js"></script>
	<script src="../js/utils.js"></script>
</html>
